.dashboard {
  padding: 1rem;
}

.dashboard__header {
  display: flex;
  margin-bottom: 1rem;

  & > .command-bar {
    flex: 1;
  }
}

.dashboard__task-list,
.dashboard__other-pr-list {
  margin: -.4rem 0;
  list-style: none;
}

.dashboard__lists-divider[data-content] {
  margin: 3rem 0 1.6rem;
}

.task {
  margin: 0;
  padding: .6rem .8rem;

  border-radius: 4px;
  border-bottom: 1px solid #eee;

  &:first-child {
    border-top: 1px solid #eee;
  }

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }

  &[data-state="Verified"],
  &[data-state="Fixed"] {
    &:nth-child(odd) {
      background-color: #fafafa;
    }

    & .task__row {
      opacity: .4;
    }

    & .task__id {
      text-decoration: line-through;
      color: #888;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.task-fields {
  margin: -.2rem -.6rem;
}

.task-field {
  flex-shrink: 0;
  margin: .2rem .6rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__row {
  display: flex;
  flex-wrap: wrap;

  & + .task__row {
    margin-top: 10px;
  }
}

.task__priority {
  &::before {
    content: "";

    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;

    font-size: 1em;
    border-radius: 2px;
    text-align: center;
  }

  &[data-priority="Show-stopper"]::before {
    content: "S";
    background-color: #e30000;
    color: #fff;
  }

  &[data-priority="Critical"]::before {
    content: "C";
    background-color: #f39ad1;
    color: #fff;
  }

  &[data-priority="Major"]::before {
    content: "M";
    background-color: #ffee9c;
    color: #b45f06;
  }

  &[data-priority="Normal"]::before {
    content: "N";
    background-color: #e6f6cf;
    color: #4da400;
  }

  &[data-priority="Minor"]::before {
    content: "M";
    background-color: #e6e6e6;
    color: #888;
  }
}

.task__state {
  width: 120px;

  &[data-state="In Progress"],
  &[data-state="Code review"] {
    background-color: #fdd835;
    color: #333;
  }

  &[data-state="Verified"],
  &[data-state="Fixed"],
  &[data-state="Needs Testing"] {
    background-color: #5755d9;
    color: #fff;
  }

  &[data-state="Open"],
  &[data-state="Reopened"] {
    background-color: #32b643;
    color: #fff;
  }
}

.task__board {
  min-width: 43px;
  text-align: center;

  &::before {
    content: attr(data-board-name);
  }

  &[data-board-name="Frontend Board"]::before {
    content: "FRD";
  }

  &[data-board-name="Backend board"]::before {
    content: "BND";
  }
}

.task__assignee {
  --border-radius: 3px;

  width: 165px;

  &.chip {
    padding: 0;
    border-radius: var(--border-radius);
  }

  & > .avatar {
    flex-shrink: 0;
    margin: 0 .2rem 0 0;

    border-radius: var(--border-radius);
    background-color: #e8e8e8;
    color: #9a9a9a;
    font-weight: 400;

    & > img {
      border-radius: var(--border-radius);
    }
  }
}

.task__assignee-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 1.2rem;
}

.task__tags {
  margin-left: auto;
  font-size: .9em;
}

.task__tag {
  & + .task__tag {
    margin-left: .4rem;
  }
}

.pr-item {
  margin: 0;
  padding: .4rem;

  & + .pr-item {
    margin-top: .1rem;
  }
}

.task__id {
  font-weight: 600;
}

.task__title {
  font-size: 15px;
}

.task__pr-list {
  margin-left: 2.2rem;
}

.task__pr {
  & + .task__pr {
    margin-left: .3rem;
  }
}

.task__pr-number {
  &.tooltip::after {
    max-width: 90vw;
  }
}

.task__title {
}

.pr-item__number {
  margin-right: .8rem;

  font-weight: 600;
}

.pr-item__title {
}

.pr-item__task-list {
  margin-left: .8rem;
}

.pr-item__task-link {
  & + .pr-item__task-link {
    margin-left: .3rem;
  }
}
